body {
    background-color: #f4f4f4;
}

h1 {
    color: #ff9000;
    font-weight: bold;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}
.btn-warning {
    background-color: #ff9000;
    color: #000;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3 ease;

}
.btn-warning:hover {
    background-color: #e0a800;
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0,0,0,0.3);
    
}

header {
    background-color: #1e1e1e;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    position: relative;
    z-index: 2;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: center;
    top: -45px;
    left: -850px;
  }

  .search-box {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .search-box input {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
  }
  
  .search-box button {
    background-color: yellow;
    border: none;
    border-radius: 100%;
    padding: 14;
    cursor: pointer;
  }
  
  